body {
  background-color: #f0f0f0;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  /* Without these two attributes, mobile browsers give some lines of formatted
     code larger fonts. */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
}

header {
  background-color: #222;
  width: 100%;
  box-shadow: 0 0 5px #222;
  line-height: 3rem;
  white-space: nowrap;
  text-align: center;
}

.logo {
  color: white;
  padding: 0 1rem;
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  max-height: 2.5rem;
  vertical-align: middle;
}

nav {
  display: inline-block;
  width: 80%;
  border: 0;
  margin: 0;
  padding: 0 10%;
}

.nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  height: 100%;
}

.nav a {
  color: white;
  display: inline-block;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
}

.nav a:hover {
  color: white;
  background-color: #f48a32;
}

@media screen and (max-width: 700px) {
  .logo {
    display: block;
  }
}

main {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px #f0f0f0;
  overflow: auto;
  width: 80%;
  max-width: 700px;
  margin: 2em auto;
  padding: 2em 5%;
}

main a[href] {
  color: #e57600;
  text-decoration: none;
}

main a[href]:hover {
  text-decoration: underline;
}

footer {
  color: #f0f0f0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

code {
  font-size: 1rem;
}

pre code {
  border: none;
  border-radius: 0;
}

p code, li code {
  padding: 0 5px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

p {
  margin-bottom: 1.5rem;
}

pre {
  line-height: 1;
  overflow: auto;
  padding: 5px;
}
